<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="导航"
            id="com.oscar.dbtest.common">
      </category>
      <view
            name="目录"
            icon="icons/projects.png"
            category="com.oscar.dbtest.common"
            class="com.oscar.dbtest.common.views.NavigationScriptsView"
            id="com.oscar.dbtest.common.views.NavigationScriptsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.oscar.dbtest.common.views.NavigationScriptsView">
         <command
               commandId="com.oscar.dbtest.common.scripts_navigation.create"
               icon="icons/projects.png"
               label="新建项目"
               style="push">
         </command>
         <command
               commandId="com.oscar.dbtest.common.scripts_navigation.refersh"
               icon="icons/refresh.png"
               label="刷新"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.oscar.dbtest.common.views.NavigationScriptsView">
         <command
               commandId="com.oscar.dbtest.common..scripts_navigation.remove"
               icon="icons/delete.png"
               label="删除项目"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <instanceof
                           value="com.oscar.dbtest.common.model.Project">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.oscar.dbtest.common.scripts_navigation.addpath"
               icon="icons/add.png"
               label="添加路径"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <instanceof
                           value="com.oscar.dbtest.common.model.Project">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.oscar.dbtest.common.scripts_navigation.openpath"
               icon="icons/directory.png"
               label="打开文件路径"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <instanceof
                           value="java.io.File">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="com.oscar.dbtest.common.main_toobar.create"
               label="新建项目">
            <command
                  commandId="com.oscar.dbtest.common.scripts_navigation.create"
                  icon="icons/projects.png"
                  label="新建项目"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:file?before=additions">
         <command
               commandId="com.oscar.dbtest.common.scripts_navigation.create"
               icon="icons/projects.png"
               label="新建"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.oscar.dbtest.common.handler.CreateProjectHandler"
            commandId="com.oscar.dbtest.common.scripts_navigation.create">
      </handler>
      <handler
            class="com.oscar.dbtest.common.handler.NavigationRefershHandler"
            commandId="com.oscar.dbtest.common.scripts_navigation.refersh">
      </handler>
      <handler
            class="com.oscar.dbtest.common.handler.ProjectRemoveHandler"
            commandId="com.oscar.dbtest.common..scripts_navigation.remove">
      </handler>
      <handler
            class="com.oscar.dbtest.common.handler.ProjectAddPathHandler"
            commandId="com.oscar.dbtest.common.scripts_navigation.addpath">
      </handler>
      <handler
            class="com.oscar.dbtest.common.handler.OpenPathHandler"
            commandId="com.oscar.dbtest.common.scripts_navigation.openpath">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.oscar.dbtest.common.scripts_navigation.create"
            name="新建项目">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.oscar.dbtest.common.Perspective"
            id="com.oscar.dbtest.common.perspective"
            name="DBTest">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.oscar.dbtest.common.views.editor.ScriptEditor"
            default="false"
            extensions="run"
            icon="icons/file.png"
            id="com.oscar.dbtest.common.views.editor.ScriptEditor"
            name="script editor">
      </editor>
   </extension>

</plugin>
