<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="导航"
            id="com.oscar.dbtest.common">
      </category>
      <view
            name="脚本导航"
            icon="icons/sample.gif"
            category="com.oscar.dbtest.common"
            class="com.oscar.dbtest.common.views.NavigationScriptsView"
            id="com.oscar.dbtest.common.views.NavigationScriptsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.oscar.dbtest.common.views.NavigationScriptsView">
         <command
               commandId="com.oscar.dbtest.common.scripts_navigation.create"
               icon="icons/projects.png"
               label="新建项目"
               style="push">
         </command>
         <command
               commandId="com.oscar.dbtest.common.scripts_navigation.refersh"
               icon="icons/refresh.png"
               label="刷新"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.oscar.dbtest.common.views.NavigationScriptsView">
         <command
               commandId="com.oscar.dbtest.common..scripts_navigation.remove"
               icon="icons/delete.png"
               label="删除项目"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <instanceof
                           value="com.oscar.dbtest.common.model.Project">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.oscar.dbtest.common..scripts_navigation.addpath"
               icon="icons/add.png"
               label="添加路径"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <instanceof
                           value="com.oscar.dbtest.common.model.Project">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.oscar.dbtest.common.handler.CreateProjectHandler"
            commandId="com.oscar.dbtest.common.scripts_navigation.create">
      </handler>
      <handler
            class="com.oscar.dbtest.common.handler.NavigationRefershHandler"
            commandId="com.oscar.dbtest.common.scripts_navigation.refersh">
      </handler>
      <handler
            class="com.oscar.dbtest.common.handler.ProjectRemoveHandler"
            commandId="com.oscar.dbtest.common..scripts_navigation.remove">
      </handler>
      <handler
            class="com.oscar.dbtest.common.handler.ProjectAddPathHandler"
            commandId="com.oscar.dbtest.common..scripts_navigation.addpath">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>

</plugin>
